module.exports = {
    githubToken: 'exampleGithubToken',
    twitterConsumerKey: 'exampleTwitterConsumerKey',
    twitterConsumerSecret: 'exampleTwitterConsumerSecret',
    twitterAccessTokenKey: 'yourTwitterAccessToken',
    twitterAccessTokenSecret: 'yourTwitterAccessTokenSecret'
};