<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sportdec test by Gergo Nagy</title>
    <link href="css/style.css" rel="stylesheet" />
</head>
<body>
<h1>Sportdec test by Gergo Nagy</h1>

{{{body}}}

</body>
</html>